body {
    padding: 80px 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    background: #FFF;
}
/* Header START */
header {
    display: flex;
    padding: 0px 52px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;    
    background: rgba(255, 255, 255, 0.00);
}

header p {
    margin: 0px;
    width: 760px;  
    color: #5F6980;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}
.cover {
    display: flex;
    width: 716px;
    flex-direction: column;
    align-items: center;
    gap: 4px;    
}

.cover h6 {
    margin: 0px;
    color: #282828;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}
.cover h1 {
    margin: 0px;
    align-self: stretch;
    color: #282828;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 54px;
    font-style: normal;
    letter-spacing: -1px;    
}

/* Header E N D */

/* main START */
main {
    display: flex;
    width: 1336px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;    
}
/* main E N D */

/* Section START */
section {
    display: flex;
    width: 1336px;
    align-items: flex-start;
    gap: 32px;
}
/* Section E N D */

/* Element/Card START */

article {
    width: 310px;
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

img {
    width: 100%;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}
.info {
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;    
}
.title h2 {
    color: #3E3E59;
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* Text/14px/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */    
}
.info p {
    color: #5F6980;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;  
}
.icons {
    padding: 0px 16px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
}
.icons img {
    display: flex;
    width: 18px;
    height: 18px;
    padding: 9px;
    justify-content: center;
    align-items: center;    
    border-radius: 100px;
    background: #F2F4F7;
}
/* Element/Card E N D */

/* Footer Start */
footer {
    /* display: flex; */
    width: 1336px;
    padding: 108px 72px 181px 52px;
    align-items: center;    
    background: rgba(83, 83, 83, 0.33);
}
footer main {
    width: 1306px;
    height: 223px;
    display: grid;
    grid-template-columns: repeat(10, auto);  
    column-gap: 0;
}
/* footer main img {
    grid-column: 1;
    padding-top: 0;
}
footer main p {
    grid-column: 1;
    padding-top: 0;
} */
.iconset {
    display: flex;
    gap: 16px;
    width: 104px;
    height: 24px;
    flex-shrink: 0;
}
footer main .iconset {
    grid-column: 1;
    padding-top: 0;    
}
footer main .col-1 {
    width: 300px;
    grid-column-start: 1;
    grid-column-end: span 2;
    padding-top: 0;
}
.box1 img {
    width: 100px;
    grid-row: 1;
}
.box1 p {
    grid-row: 3;
    padding-top: 0;
}
footer main .col-2 {
    grid-column: 4;
    padding-top: 0;
}
footer main .col-3 {
    grid-column:7;
}
footer main .col-3 a {
    text-decoration: none;
    color: #282828;
} 
footer main .col-2 a {
    text-decoration: none;
    color: #282828;
} 
.box1 {
    display: grid;
    grid-template-columns: 1;  
    grid-template-rows: repeat(6, 48px);  
}
.box1 .iconset {
    grid-row: 6;
}
.box {
    display: grid;
    grid-template-columns: 1;  
    grid-template-rows: repeat(5, 48px);  
}
.box h2 {
    grid-row-start: 1;
    grid-row-end: span 2;
}
.col-4 {
    grid-column: 10;
}
.box4 {
    display: grid;
    grid-template-columns: 1;  
    grid-template-rows: repeat(5, 48px);  
}
.box4 h2 {
    grid-row-start: 1;
    grid-row-end: span 2;
}
.col-4 button {
    width: 80px;
    height: 45px;
    display: inline-flex;
    padding: 14px 16px;
    align-items: flex-start;
    gap: 10px;    
    background: #054A68;
} 
/* Footer E N D */